
 
.bemvindo{
    background-image: url("/assets/img/untitled-UI.svg");
    background-repeat: no-repeat;
    margin: 5%;
}
.bemvindo_conteudo{
    padding-top: 4.5em;
    padding-left: 2em; 

}

.bemvindo_conteudo_titulo{
    font-weight: 620;
    font-size: 36px;
    font-style: normal;
   
   
}
.bemvindo_conteudo_texto{
    padding-top: 1em;
    font-weight: 400;
    font-size: 26px;
    color: var(--cor-terciaria);
    

}