@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('./bemvindo.css');
@import url('./formulario.css');
@import url('./ellipse.css');

:root{

    --cor-primaria: #ffffff;
    --cor-secundaria: #7C3CCE;
    --cor-terciaria: #909090;
    --cor-quarternaria: #000000;
    --cor-borda: #E2E6ED;
    --fonte-principal: 'Inter';
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body{      
    display: grid;
    grid-template-columns: 50% 50% 0 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

.rodape{
    font-family: var(--fonte-principal);
    font-size: 12px;
    font-weight: 500;
    color: #98A0A8;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    html {
      zoom: 85%; /* reduz o tamanho de todo o conteúdo da página em 10% */
    }
}

@media (max-width: 768px) {
    
    body {
        display: grid;
        grid-template-columns: none;
    }

    .ellipse {
        display: none;
    }
    
    .card {
        display: grid;
        justify-items: center;
    }

    .card__login {
        display: grid;
    }
    .btn {
        display: grid;
    }

    .bemvindo_conteudo_titulo {
        text-align: center;
        font-size: 180%;
    }

    .bemvindo_conteudo_texto {
        text-align: center;
        font-size: 160%;
    }
}
  



  




  








    
